.join-program-section {
  background: linear-gradient(
      to top,
      rgba(5, 17, 18, 0.5),
      rgba(5, 17, 18, 0.5)
    ),
    url(../assets/images/join-program.png) no-repeat center/cover;
  max-width: 100%;
  padding: 44px;
  color: white;
}

.join-program-section .app-subtitle {
  font-weight: 400;
  opacity: 0.7;
}

.join-program-section__email {
  width: 400px;
  height: 36px;
  color: #ffffff;
  background-color: #ffffff26;
  border: none;
  margin-right: 30px;
  padding-left: 20px;
}

.join-program-section__button {
  padding: 12px;
  font-size: 14px;
  letter-spacing: 1.2px;
  margin: 60px auto 108px;
  text-transform: uppercase;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .join-program-section {
    background: linear-gradient(
        to top,
        rgba(5, 17, 18, 0.5),
        rgba(5, 17, 18, 0.5)
      ),
      url(../assets/images/join-program-small.png) no-repeat center/cover;
  }
  .join-program-section .app-subtitle {
    margin-bottom: 55px;
  }
  .join-program-section__form {
    display: flex;
    flex-direction: column;
  }
  .join-program-section__email {
    margin: 0 auto 40px;
  }
  .join-program-section__button {
    margin: 0 auto 40px;
  }
}
